:root {
  --base-color: #e5e5e5;
  --primary-color: #a36eba;
  --secondary-color: #1f005c;
  --font-color: #ffacff;
  --input-color: #1f0a70;
  --font-poppins: 'Poppins', sans-serif;
  --font-italiana: 'Italiana', serif;
}
