// COLUMNS
.newspaper__article-cols {
	@include mq($bp-desktop) {
		columns: 2;
		column-gap: rem($page-gap-desktop);

		p {
			break-inside: avoid;
		}
	}
}



// ROW 1
.newspaper__article--featured {
	@include mq($bp-desktop) {
		.newspaper__content-group {
			grid-column: span 8;
		}

		.newspaper__article-media {
			grid-column: span 4;
		}
	}
}





// ROW 2
.newspaper__article--middle-main {
	grid-column: span 5;
}

.newspaper__ad--middle {
	grid-column: span 3;
}

.newspaper__article-group--middle-aside {
	grid-column: span 4;
}





// ROW 3
.newspaper__article--end-primary {
	grid-column: span 5;
}
.newspaper__ad--end-aside {
	grid-column: span 5;
	grid-row: 2 / 3;
	margin-top: rem(calc($page-gap-desktop * 1.5));
}
.newspaper__article--end-secondary {
	grid-column: 7 / span 6;
	grid-row: span 2;
}





// ARTICLE
.newspaper__article-link {
	color: inherit;
	text-decoration: none;

	&:hover {
		.newspaper__article-title {
			text-decoration: underline;
		}
	}
}

.newspaper__article-group--middle-aside .newspaper__article {
	margin-top: rem(calc($page-gap-desktop * 1.5));
	padding-bottom: rem(calc($page-gap-desktop * 1.5));
}

.newspaper__article-group--middle-aside .newspaper__article-link:first-child .newspaper__article {
	margin-top: 0;
}

.newspaper__article--end-primary {
	@include mq($bp-desktop) {
		padding-top: rem(calc($page-gap-desktop * 1.5));
	}
}
