.newspaper__header {
	.newspaper__container {
		@include mq($bp-desktop - 1, max-width) {
			align-items: center;
			column-gap: rem($page-gap);
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.newspaper__title {
	grid-column: span 4;
	margin: 0;
	padding: rem(40) 0;
	text-align: center;
}

.newspaper__metas {
	color: $color-secondary-900;
	list-style: none;
	margin: 0;
	padding: rem(8) 0;
}

.newspaper__meta--number {
	text-align: right;

	@include mq($bp-desktop) {
		grid-column: span 2;
		text-align: left;
	}
}
.newspaper__meta--date {
	grid-column: span 2;
	text-align: center;

	@include mq($bp-desktop) {
		grid-column: span 8;
	}
}
.newspaper__meta--edition {
	text-align: left;

	@include mq($bp-desktop) {
		grid-column: span 2;
		text-align: right;
	}
}
