//colors
$neutral-100: #FFFFFF;
$neutral-400: #E5E5E5;

$primary-500: #FFACFF;
$primary-600: #CD98E4;
$primary-700: #A36EBA;

$secondary-500: #AE70F6;
$secondary-700: #2A1385;
$secondary-800: #1F0A70;
$secondary-900: #1F005C;

$text-color: #120A22;

//responsive
$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1200px;
$medium-desktop-width: 1440px;
$large-desktop-width: 1920px;
