body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
@media (max-width: 767px) {
  body {
    background-color: var(--secondary-900);
  }
}
.form-wrapper {
  gap: 130px;
  background-color: var(--secondary-900);
  color: var(--primary-500);
  max-width: 1440px;
}
@media (min-width: 768px) {
  .form-wrapper {
    display: flex;
  }
}
@media (max-width: 768px) {
  .img img {
    max-width: 375px;
  }
}
.img img {
  object-fit: contain;
  height: 100%;
  object-position: right;
}

.form-content {
  margin: 64px 20px;
}
@media (min-width: 768px) {
  .form-content {
    margin: 64px 80px 64px 0;
  }
}
.form-intro {
  margin-bottom: var(--spacing-l);
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.form-block {
  width: 100%;
}
@media (min-width: 768px) {
  .form-block.half {
    width: calc(50% - 12px);
  }
  .form-block:not(.half) {
    width: 100%;
  }
}

.form-block label,
.form-block input,
.form-block textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
}
.form-block label {
  margin-bottom: var(--spacing-xxs);
}
.form-block input,
.form-block textarea {
  height: 3.5rem;
  border: 0;
  border-bottom: 1px solid var(--primary-700);
  background-color: var(--secondary-800);
  color: var(--neutral-100);
  padding: var(--spacing-xs);
}
.form-block textarea {
  height: 8rem;
  resize: none;
}
.form-block input:focus,
.form-block input:hover,
.form-block textarea:focus,
.form-block textarea:hover {
  transition: all 0.3s ease;
  border-color: var(--primary-500);
  outline: none;
}

.form-block.form-block__check {
  display: flex;
  gap: var(--spacing-xxs);
}
.form-block__check a {
  color: var(--primary-500);
}
.form-block input[type='checkbox'] {
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1rem;
  height: 1rem;
  border: 1px solid currentColor;
  border-radius: 0;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  padding: 0.625rem;
}
.form-block input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );

  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--primary-500);
}

.form-block input[type='checkbox']:checked::before {
  transform: scale(1);
}

.form-block input[type='checkbox']:focus {
  outline: 0.15em solid currentColor;
}

input[type='submit'] {
  display: block;
  text-align: center;
  padding: 12px var(--spacing-s);
  background-color: var(--primary-500);
  color: var(--secondary-800);
  text-transform: uppercase;
  margin-top: var(--spacing-s);
  border: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
}
input[type='submit']:hover,
input[type='submit']:focus {
  transition: all 0.3s ease;
  background-color: var(--secondary-800);
  color: var(--primary-500);
}
@media (min-width: 768px) {
  input[type='submit'] {
    max-width: 10.25rem;
  }
}
