/* BOARDING PASS */
.boarding-pass__card {
	margin: auto;
	width: calc(375/var(--size)* 1rem);
	background-color: var(--color-white);
	border-radius: calc(24/var(--size)* 1rem);
	overflow: hidden;

	transform: rotateX(5deg) rotateY(-45deg) rotateZ(-3deg) rotate(-5deg);

	transition: transform ease .7s;
}


.boarding-pass:hover .boarding-pass__card {
	transform: rotateX(0) rotateY(0) rotateZ(0) rotate(0);
}



.boarding-pass__flight-data::after {
	content: '';
	position: absolute;
	left:0;
	bottom: 0;
	height: calc(1/var(--size)*1rem);
	background: repeating-linear-gradient(to right, var(--color-white) 0, var(--color-white) 16px, var(--color-secondary-500) 16px,  var(--color-secondary-500) 30px);
	width: 100%;
}


.boarding-pass__flight-summary::before,
.boarding-pass__flight-summary::after {
	content: '';
	width: calc(39/var(--size)*1rem);
	height: calc(39/var(--size)*1rem);
	background-color: var(--color-light-grey);
	position: absolute;
	left:0;
	top: 0;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.boarding-pass__flight-summary::after {
	left: 100%;
}

.boarding-pass__flight-data,
.boarding-pass__flight-summary {
	position: relative;
	padding: calc(48/var(--size)* 1rem) 0;
}
.boarding-pass__section-title {}
.boarding-pass__item { }
.boarding-pass__item--full {
	grid-column: span 3;
}

.boarding-pass__item--big {
	grid-column: span 2;
}


.boarding-pass__label {
	font-size: calc(12/var(--size)* 1rem);
	line-height: calc(16/var(--size)* 1rem);
	text-transform: uppercase;
	color: var(--color-primary-600);
	display: block;
}
.boarding-pass__data {
	font-size: calc(18/var(--size)* 1rem);
	line-height: calc(32/var(--size)* 1rem);
	text-transform: uppercase;
	color: var(--color-secondary-500);
}

.boarding-pass__flight-summary {}
.boarding-pass__item--qr {
	grid-row: 1/3;
	grid-column: 3/4;
	background: red;
	align-self: end;
}

.boarding-pass__qr {
	width: 100%;
	display: block;
}
