.header--technical_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--secondary-900);
    border-bottom: 1px solid var(--secondary-900);
    padding: 10px 0;
    margin-top: 10px;
}

.newspaper article {
    border-bottom: 1px solid var(--secondary-800);
    padding: var(--spacing-s) 0;
    height: min-content;
}

@media (min-width: 768px) {
    .newspaper article {
        padding: var(--spacing-m) 0;
    }

    .page--heading_row article {
        display: flex;
        gap: 24px;
    }

    .content--col .article--content {
        flex-basis: 70%;
        column-count: 2;
    }

    .page--heading_row figure {
        position: sticky;
        top: 0.625rem;
        margin: 0;
    }

    .article .content--image {
        flex-basis: 30%;
        position: relative;
        width: 100%;
    }

    .article {
        display: flex;
        flex-direction: column;
    }

    .page--content_row {
        display: flex;
        gap: 24px;
        flex-direction: row;
        align-content: space-evenly;
    }

    .article--advertisement {
        background: #a36eba;
    }

    .article--short {
        display: flex;
        flex-direction: column;
    }

    .page--content_row .s-left {
        flex-basis: 45%;
        border: 0;
        padding-bottom: 0;
    }

    .newspaper .article--right {
        border-left: 1px solid var(--secondary-800);
        padding-left: var(--spacing-l);
        margin-left: var(--spacing-l);
        padding-top: 0;
        margin-top: var(--spacing-m);
    }

    .page--content_row .s-right {
        flex-basis: 55%;
    }

    .article--right .article--content {
        column-count: 2;
    }
}

.newspaper .article--left{
    border: 0;
    padding-bottom: 0;
}


.s-right figure {
    margin: 0 0;
}

.s-right img {
    max-width: 100%;
}
