.newspaper-page {
  background-image: url('../../img/Newspaper-bg.svg');
}

.topsection {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.middlesection {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.bottomsection {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.newspaper-issue {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1F005C;
}

.newspaper-issue span {
  display: flex;
}

.newspaper-article {
  padding-top: 40px;
  padding-bottom: 40px;
}

.newspaper-article__photo img {
  width: 100%;
}

.newspaper-article-ad img {
  width: 100%;
}

.newspaper-article-preview {
  padding-top: 40px;
  padding-bottom: 40px;
}
