@media all and (min-width: 1440px) {

    body {
        display: flex;
    }

    .newspaper {
        max-width: calc(1280/var(--font-size-base) * 1rem);
        margin: auto;
    }

    .title-huge {
        font-size: calc(140/var(--font-size-base) * 1rem);
        line-height: calc(156/var(--font-size-base) * 1rem);
    }

    .title-big {
        font-size: calc(80/var(--font-size-base) * 1rem);
        line-height: calc(96/var(--font-size-base) * 1rem);
    }

    .navbar__list {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar__list-item {
        padding: 0
    }

    .number {
        text-align: left;
    }

    .edition {
        text-align: right;
    }

    /********************** Featured section ***********************/

    .featured, .central {
        padding: calc(40/var(--font-size-base) * 1rem) 0;
    }

    .featured__article {
        display: grid;
        grid-template: 1fr auto / auto 32%;
        gap: 0 calc(24/var(--font-size-base) * 1rem);
    }

    .featured__header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .featured__image {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        margin-top: 0;
    }

    .featured__content {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        column-count: 2;
        column-gap: calc(25/var(--font-size-base) * 1rem);
    }

    /********************** Central section ***********************/

    .central {
        display: grid;
        grid-template: 1fr / 40% 24% 32%;
        gap: 0 calc(24/var(--font-size-base) * 1rem);
        border-bottom: 0;
    }

    .small-news {
        padding-top: 0;
    }

    .small-article:first-child {
        padding-top: 0;
    }

    .small-article:last-child {
        border-bottom: 2px solid var(--secondary-900);
        padding-bottom: calc(36/var(--font-size-base) * 1rem);
    }

    /********************** Final section ***********************/

    .final {
        display: grid;
        grid-template: 1fr / calc(40% + calc(12/var(--font-size-base) * 1rem) + calc(66/var(--font-size-base) * 1rem)) auto;
    }

    .final-left {
        padding-top: 0;
        border-right: 2px solid var(--secondary-900);
        padding-right: calc(66/var(--font-size-base) * 1rem);
        padding-bottom: 0;
    }

    .final-left header {
        padding-top: calc(38/var(--font-size-base) * 1rem);
        border-top: 2px solid var(--secondary-900);
    }

    .final-right {
        padding-left: calc(66/var(--font-size-base) * 1rem);
    }

    .final-article-content {
        column-count: 2;
        column-gap: calc(24/var(--font-size-base) * 1rem);
    }

    /* Apaño que no es dinámico, pero si no nos cambian el contenido
     * quedará bastante más bonico */
    .final-article-content p:nth-child(2n) {
        margin-bottom: 0;
    }
}