.contact {
  margin: 0;
  font: 16px poppins, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-selected);
  line-height: 24px;
  padding-top: 487px;
  background-image: url(../img/robots.svg);
  background-repeat: no-repeat;
  background-position: left 64px;
  background-size: auto 375px;
}



.contact__main {
  margin: 0 20px;
}

@media (min-width: 1440px) {

  .contact {
    padding-top: 64px;
    background-size: auto 708px;
  }
  
  .contact__main {
    margin: 0 80px 0 auto;
    width: 520px;
  }
}