body {
  font-size: 16px;
  line-height: 32px;
  font-family: var(--font-poppins);
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--background-body);
}
