.newspaper {
  max-width: 80rem;
  margin: 0 auto;
  color: var(--secondary-800);
  padding: var(--spacing-m) 2.5%;
}
.newspaper article {
  border-bottom: 1px solid var(--secondary-800);
  padding: var(--spacing-s) 0;
  height: min-content;
}
@media (min-width: 47.9375rem) {
  .newspaper article {
    padding: var(--spacing-m) 0;
  }
}
.newspaper article .title-m {
  margin-bottom: var(--spacing-xs);
}
.newspaper article .title-s {
  margin-bottom: 24px; /*change for var()*/
}
.newspaper .contentArticle p + p {
  margin-top: var(--spacing-xs);
}

/*****************/
/* header */
.header {
  color: var(--secondary-900);
}
.header .title-l {
  text-align: center;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--secondary-900);
  border-bottom: 1px solid var(--secondary-900);
  padding: var(--spacing-xxs) 0;
  margin-top: var(--spacing-s);
}

@media (max-width: 47.9375rem) {
  .header-info p {
    min-width: 6.4375rem;
    text-align: center;
    max-width: 6.4375rem;
  }
}
@media (min-width: 48rem) {
  .header-info :first-child {
    text-align: left;
  }
  .header-info :last-child {
    text-align: right;
  }
}
/* end header */
/*****************/

/*****************/
/* main layout */

@media (min-width: 48rem) {
  .contentWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    gap: 0px 0px;

    grid-template-areas:
      'priority-section priority-section'
      'content1 content1'
      'aside aside'
      'content2 content3';
  }
}
@media (min-width: 75rem) {
  .contentWrapper {
    grid-template-areas:
      'priority-section priority-section'
      'content1 aside'
      'content2 content3';
  }
}
.priority-section {
  grid-area: priority-section;
}

.content1 {
  grid-area: content1;
}

.aside {
  grid-area: aside;
}

.content3 {
  grid-area: content3;
}

.content2 {
  grid-area: content2;
}
/* end main layout*/
/*****************/

/*****************/
/* priority section */

.priority-section figure {
  margin: 24px auto 0;
  max-width: 25rem;
}

@media (min-width: 62rem) {
  .priority-section article {
    display: flex;
    gap: 24px;
  }
  .priority-section .contentArticle {
    column-count: 2;
  }

  .priority-section .content-col {
    flex-basis: 70%;
  }
  .priority-section .content-figure {
    flex-basis: 30%;
    position: relative;
  }
  .priority-section figure {
    position: sticky;
    top: 0.625rem;
    margin: 0;
  }
  .priority-section img {
    width: 100%;
  }
}

/* end priority section */
/*****************/

/*****************/
/* content 1*/
.content1 .contentArticle {
  margin-top: var(--spacing-s);
}
@media (min-width: 48rem) and (max-width: 1199.98px) {
  .content1 .contentArticle {
    column-count: 2;
  }
}
/* end content 1*/
/*****************/

/*****************/
/* aside*/

.aside img {
  margin: var(--spacing-m) auto;
  display: block;
}
@media (min-width: 48rem) {
  .aside {
    margin-left: var(--spacing-s);
    display: flex;
    position: relative;
  }
  .aside article {
    margin-left: var(--spacing-s);
  }
  .aside img {
    position: sticky;
    align-self: flex-start;
    top: 0.625rem;
  }
}

/* end aside*/
/*****************/

/*****************/
/* content 2*/
.newspaper .content2 {
  border: 0;
  padding-bottom: 0;
}
.content2 img {
  margin-top: var(--spacing-s);
}
/* end content 2*/
/*****************/

/*****************/
/* content 3*/
.newspaper .content3 {
  border: 0;
}
@media (min-width: 48rem) {
  .newspaper .content3 {
    border-left: 1px solid var(--secondary-800);
    padding-left: var(--spacing-l);
    margin-left: var(--spacing-l);
    padding-top: 0;
    margin-top: var(--spacing-m);
  }
  .content3 .contentArticle {
    column-count: 2;
  }
}

.content3 figure {
  margin-top: var(--spacing-xs);
  margin-bottom: 24px;
}
.content3 img {
  max-width: 100%;
}
/* end content 1*/
/*****************/
