.boarding-pass {
  width: 23.4375rem;
  margin: var(--spacing-xxs) auto;
  background-color: var(--neutral-100);
  border-radius: 24px;
  overflow: hidden;
}

.boarding-pass .header {
  background-color: var(--secondary-900);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20.9375rem; /* 335px */
  background: url('../../assets/images/boarding-pass-image.jpg');

  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.boarding-pass .header-logo {
  max-width: 6.125rem;
}
.boarding-pass .headerInfo {
  display: flex;
  justify-content: space-between;
}
.boarding-pass .headerInfo-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.25rem;
  color: var(--neutral-100);
  width: 6.125rem;
}
[alt='icon-between'] {
  margin-top: 0.9375rem;
}
.boarding-pass .headerInfo-title {
  color: var(--primary-500);
}
.boarding-pass .headerInfo-iconWrapper img {
  display: block;
  margin: 0 auto;
  max-width: 1.25rem;
  max-height: 1.25rem;
}

.boarding-pass .contentWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.75rem;
  padding: var(--spacing-l) 1.25rem;
}
.boarding-pass .contentWrapper :first-child {
  grid-area: 1 / 1 / 2 / 4;
}

.boarding-pass .content-item {
  color: var(--secondary-900);
}

.boarding-pass .content-item .title-xs {
  color: var(--primary-600);
}

.boarding-pass .footer {
  background-image: url('../../assets/images/border-bg.jpg');
  background-repeat-y: no-repeat;
  position: relative;
}
.boarding-pass .footer .content-item {
  position: relative;
}

.footer::after,
.footer::before {
  content: '';
  height: 1px;
  background-color: var(--neutral-400);
  display: block;
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.footer::after {
  right: 0;
  transform: translate(50%, -50%);
}
.boarding-pass .qr-code {
  max-width: 4.5625rem;
  position: absolute;
  bottom: 0;
}
