/* HEADER */
.boarding-pass__header {
	background: url(../../img/boarding-pass-3x.jpg) center no-repeat;
	background-size: cover;
	color: var(--color-white);
	padding: calc(20/var(--size)*1rem) 0;
	position: relative;
}

.boarding-pass__header .boarding-pass__container {
	grid-template-rows: auto auto;
	row-gap: calc(177/var(--size)*1rem);
	position: relative;
	z-index: 3;
}

.boarding-pass__destination {
	column-gap: calc(20/var(--size)*1rem);
	display: grid;
	grid-column: 1/4;
	grid-row: 2/3;
	grid-template-areas: "from . to";
	grid-template-columns: 1fr 1fr 1fr;
	position: relative;
}

.boarding-pass__destination::before,
.boarding-pass__destination::after {
	content: '';
	position: absolute;
	width: 111px;
	height: 25px;
	background: url(../../img/icons/rocket.svg) left center no-repeat;
	left: 98px;
	top: 38px;
}

.boarding-pass__destination::after {
	background-position: right center;
	width: 25px;
	left: 212px;

	animation-name: rocket;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
	animation-fill-mode: both;
}

@keyframes rocket {
	from {
		transform: translateY(-1px);
	}
	to {
		transform: translateY(1px);
	}
}


.boarding-pass__location {
	line-height: calc(24/var(--size)*1rem);
	text-align: center;
}

.boarding-pass__location--from {
	grid-area: from;
}

.boarding-pass__location--to {
	grid-area: to;
}

.boarding-pass__location-name {
	color: var(--color-primary-500);
	font-size: calc(12/var(--size)*1rem);
	font-weight: 400;
	line-height: calc(16/var(--size)*1rem);
	margin: 0 0 calc(4/var(--size)*1rem);
}

.boarding-pass__location-name::before {
	background: url(../../img/icons/earth.svg) center no-repeat;
	content: '';
	display: block;
	height: calc(24/var(--size)*1rem);
	margin: 0 auto calc(4/var(--size)*1rem);
	width: calc(24/var(--size)*1rem);
}


.boarding-pass__location-name--planet::before {
	background-image: url(../../img/icons/planet.svg);
}

.boarding-pass__location-code {
	font-size: calc(18/var(--size)*1rem);
	margin: 0 0 calc(4/var(--size)*1rem);
}

.boarding-pass__location-abbr {
	font-size: calc(16/var(--size)*1rem);
	font-weight: 600;
	text-decoration: none;
}
